//variables
//colores main usados

$header-footer-color: #DBDBDB;
$body-color: #706D54;
$letras-color: #000F;

//fuentes

$font-nunito: "Nunito", sans-serif;
$font-titulos: "Bebas Neue", sans-serif;

//tamaño imagenes del index

@mixin flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

